<h1>MAP MY ROUTE!</h1>

<form action="/map" method="POST">
  
  <label for="start">Start: </label>
  <select id="start" name="start">
    <% @data.each do |stationhash|%>
      <option value="<%= [stationhash["lat"],stationhash["lng"]] %>" > 
        <%= stationhash["name"] %> 
      </option>
    <% end %>
  </select>

  <label for="end">End: </label>
  <select id="end" name="end">
    <% @data.each do |stationhash|%>
      <option value="<%= [stationhash["lat"],stationhash["lng"]] %>"> 
        <%= stationhash["name"] %> 
      </option>
    <% end %>
  </select>
  
  <br/>
  <br/>
  <button type="submit" value="Get Route">Get Route</button>
</form>

<!-- 
params = {"start"=>"W 52 St & 11 Ave", "end"=>"Franklin St & W Broadway"} 
-->